* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    width:80%;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #094298;
    margin-bottom: 15px;
    text-decoration: none;
}

.title:hover {
    border-bottom: 5px solid #094298;
    transition: 0.2s;
}

.button {
  font-family: "Montserrat", sans-serif;
  display: flex;
  background: #fff;
  color: #094298;
  border: 3px solid #094298;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.button:hover {
  background: #094298;
  color: #fff;
  transition: 0.2s;
}


::-webkit-scrollbar {
width: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #094298;
  color: #ffffff;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.footer-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-link {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0 150px;
}

.footer-link:hover {
  color: #f7f7f7;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: #094298;
    font-weight: bold;
    margin-top: 25px;
}

a {
    font-size: 25px;
    color:#094298;
    font-family: "Montserrat", sans-serif;
}

.text {
    padding:35px;
    margin-left: 25px;
}
