* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.user-name {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px;
    font-size: 28px;
    color: #094298;
    text-decoration: none;
}

.exit-logo {
  width:15%;
  margin-right: 28px;
  margin-top: 4px;
}

.user {
    width: 300px;
    display: flex;
    justify-content: space-around;
    gap: 13px;
}

.btn-login {
    font-family: "Montserrat", sans-serif;
    margin-right: 25px;
    margin-bottom: 17px;
    font-size: 28px;
    color: #094298;
    text-decoration: none;
}

.logo {
  width:80%;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #094298;
  margin-bottom: 15px;
  text-decoration: none;
}

.title:hover {
  border-bottom: 5px solid #094298;
  transition: 0.2s;
}

.button {
  font-family: "Montserrat", sans-serif;
  display: flex;
  background: #fff;
  color: #094298;
  border: 3px solid #094298;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.button:hover {
  background: #094298;
  color: #fff;
  transition: 0.2s;
}

.additional-text {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  color: #094298;
  margin-top: 10px;
  position:absolute;
  width:100%;
  top:30%;
  text-align:center;
  font-weight: bold;
}

.register-button {
  padding: 16px 21px;
  border: 4px solid #094298;
  border-radius: 10px;
  background-color: transparent;
  color: #094298;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.register-button:hover {
  background: #094298;
  color: #fff;
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 0;
}

.kub1 {
  width: 404px;
  position: absolute;
  top: 45%;
  left: 1%;
}

.kub2 {
  width: 104px;
  position: absolute;
  top: 27%;
  left: 20%;
}

.kub3 {
  width: 154px;
  position: absolute;
  top: 47%;
  left: 86%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #094298;
  color: #ffffff;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
}


.footer-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0 150px;
}

.footer-link:hover {
  color: #f7f7f7;
}