* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.user-name {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px;
    font-size: 28px;
    color: #094298;
    text-decoration: none;
}
.exit-logo {
  width:15%;
  margin-right: 28px;
  margin-top: 4px;
}

.user {
    width: 300px;
    display: flex;
    justify-content: space-around;
    gap: 13px;
}

.btn-login {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 17px;
    margin-right: 25px;
    font-size: 28px;
    color: #094298;
    text-decoration: none;
}

.logo {
    width:80%;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #094298;
    margin-bottom: 15px;
    text-decoration: none;
}

.title:hover {
    border-bottom: 5px solid #094298;
    transition: 0.2s;
}

.button {
  font-family: "Montserrat", sans-serif;
  display: flex;
  background: #fff;
  color: #094298;
  border: 3px solid #094298;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.button:hover {
  background: #094298;
  color: #fff;
  transition: 0.2s;
}

.button-pay {
    background: #094298;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 37px;
}

.button-pay:hover {
  background: #fff;
  color: #094298;
  transition: 0.2s;
}

::-webkit-scrollbar {
width: 0;
}

.kub4 {
    width: 204px;
    position: absolute;
    top: 400px;
    left: 10px;
}

.kub5 {
    width: 85px;
    position: absolute;
    top: 90px;
    left: 900px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #094298;
  color: #ffffff;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.footer-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-link {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0 150px;
}

.footer-link:hover {
  color: #f7f7f7;
}

.blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin-top: 60px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: "Montserrat", sans-serif;
    justify-content: calc(center + 50px);
    background-color: #094298;
    color: #ffffff;
    height: 240px;
    width: 280px;
    margin: 20px;
    border-radius: 10px;
}

.block h2 {
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.block h3 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.tarif-title {
    display: flex;
    justify-content: center;
}
