<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="font/montsserat" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/call.css') }}">
    <title>Обратный звонок</title>
</head>
<body>
    {% include "header.html" %}
    <img src="static/imgs/kub1.svg" alt="куб1" class="kub1">
    <img src="static/imgs/kub2.svg" alt="куб2" class="kub2">
    <img src="static/imgs/kub3.svg" alt="куб3" class="kub3">
    <div class="calling">
        <input type="text" class="number" name="номер" placeholder="Введите свой номер"/>
        <button class="call">Заказать обратный звонок</button>
    </div>
    {% include "footer.html" %}
</body>
</html>