<!DOCTYPE html>
<html>
<head>
    <link href="font/montsserat" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/confidential.css') }}">
</head>
<body>
    {% include "header.html" %}
    <div class="teaching">
        <b><h2>1. Сбор и использование информации:</h2><br>
        <a>1.1. Мы собираем только необходимую информацию о рабочих компаниях и их структуре для обеспечения функциональности платформы и предоставления услуг
        <br>1.2. Мы не продаем, не передаем и не раскрываем информацию о рабочих компаниях и их структуре третьим лицам без их согласия, за исключением случаев, предусмотренных законодательством.
        <br>1.3. Мы используем полученную информацию только для внутренних целей, связанных с функционированием платформы и предоставлением услуг.</a></b>
        <b><h2>2. Защита информации:</h2><br>
        <a>2.1. Мы принимаем все необходимые меры для защиты информации о рабочих компаниях и их структуре от несанкционированного доступа, изменения, раскрытия или уничтожения.
        <br>2.2. Мы используем современные технологии и методы безопасности для обеспечения конфиденциальности данных.</a></b>
        <b><h2>3. Хранение информации:</h2><br>
        <a>3.1. Мы храним информацию о рабочих компаниях и их структуре только в течение необходимого периода времени, определенного целями, для которых она была собрана.
        <br>3.2. По истечении срока хранения информации, мы уничтожаем ее в соответствии с применимыми законодательными требованиями или надлежащими методами уничтожения данных.</a></b>
        <b><h2>4. Права пользователей:</h2><br>
        <a>4.1. Мы предоставляем пользователям платформы право на доступ, исправление, удаление или блокирование своих персональных данных, в соответствии с применимыми законодательными требованиями.
        <br>4.2. Пользователи могут также отозвать свое согласие на обработку своих персональных данных в любой момент.</a></b>
        <b><h2>5. Изменения политики конфиденциальности:</h2><br>
        <a>5.1. Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности. В случае изменений, мы уведомим пользователей о таких изменениях и предоставим возможность отозвать свое согласие на обработку своих персональных данных.
        <br>5.2. Продолжая использовать платформу после внесения изменений в политику конфиденциальности, пользователи выражают свое согласие с обновленной политикой.</a></b>
    </div>
    {% include "footer.html" %}
</body>
</html>