<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="font/montsserat" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/FAQ.css') }}">
    <title>Политика конфиденциальности</title>
</head>
<body>
    {% include "header.html" %}
    <div class="teaching">
        <h1>Часто задаваемые вопросы о платформе для обучения и тестирования сотрудников рабочих профессий с использованием стандартных и VR-инструментов:</h1>
        <b><h2>1. Какова цель использования данной платформы?</h2><br>
        <a>- Целью использования платформы является обучение и тестирование сотрудников рабочих профессий с помощью стандартных и VR-инструментов, позволяющих создать реалистичные ситуации для обучения и оценки навыков.</a></b>
        <b><h2>2. Какие возможности предоставляет платформа?</h2><br>
        <a>- Платформа позволяет предприятию создать свой собственный портал или школу, загрузить отделы и сотрудников, а также обучающие материалы. Она также предоставляет возможность запуска тестирования на всех или определенных группах сотрудников. Интеграция с BMP-файлами позволяет отображать результаты и записи прохождения VR-тестов на платформе.</a></b>
        <b><h2>3. Каким образом платформа использует VR-инструменты?</h2><br>
        <a>- Платформа использует VR-инструменты для создания реалистичных ситуаций обучения и тестирования. С помощью VR-очков сотрудники могут погрузиться в виртуальное пространство и выполнять задачи, имитирующие реальные рабочие ситуации.</a></b>
        <b><h2>4. Каковы преимущества использования VR-инструментов в обучении и тестировании?</h2><br>
        <a> - Использование VR-инструментов позволяет создавать более реалистичные ситуации обучения и тестирования, что способствует более эффективному усвоению материала и развитию необходимых навыков. VR также позволяет симулировать опасные или сложные ситуации без риска для сотрудников.</a></b>
        <b><h2>5. Как происходит интеграция с BMP-файлами?</h2><br>
        <a>- Платформа предусматривает интеграцию с BMP-файлами, чтобы результаты и записи прохождения VR-тестов с помощью очков отображались на платформе. Это позволяет анализировать и оценивать производительность и прогресс сотрудников.</a></b>
        <b><h2>6. Какая поддержка предоставляется пользователям платформы?</h2><br>
        <a>- Платформа предоставляет техническую поддержку пользователям, которая включает в себя помощь с настройкой и использованием платформы, а также решение возникающих проблем или вопросов.</a></b>
        <b><h2>7. Каковы требования к оборудованию для использования платформы?</h2><br>
        <a>- Для использования платформы необходим доступ к интернету и совместимые устройства, такие как компьютеры или смартфоны для доступа к веб-приложению, а также VR-очки для использования VR-инструментов.</a></b>
        <b><h2>8. Можно ли индивидуализировать обучение и тестирование для разных групп сотрудников?</h2><br>
        <a>- Да, платформа позволяет загрузить отделы и сотрудников, а также предоставляет возможность запуска тестирования на всех или определенных группах сотрудников. Это позволяет индивидуализировать обучение и тестирование в соответствии с потребностями пнаших клиентов</b>
    </div>
    {% include "footer.html" %}
</body>
</html>