<header>
        <a href="/"><img src="static/imgs/logo.svg" alt="Логотип" class="logo"></a>
        <a href="/" class="title"><h1>Возможности</h1></a>
        <a href="rates" class="title"><h1>Тарифы</h1></a>
        <a href="integration" class="title"><h1>Внедрение</h1></a>
        <a href="reviews" class="title"><h1>Отзывы</h1></a>
        <a href="support" class="title"><h1>Поддержка</h1></a>
        {% if current_user.is_authenticated %}
        <a class="" href="/logout">{{ current_user.login }}</a>
        {% else %}
        <p>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
</header>
