<header>
    <a href="#"><img src="static/imgs/logo.svg" alt="Логотип" class="logo"></a>
    <h1 class="title">Возможности</h1>
    <h1 class="title">Тарифы</h1>
    <h1 class="title">Внедрение</h1>
    <h1 class="title">Отзывы</h1>
    <h1 class="title">Поддержка</h1>
    {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/user_profile">{{ current_user.name }}</a>
    {% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
    {% endif %}
</header>