<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="font/montsserat" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/integration.css') }}">
    <title>Внедрение</title>
</head>
<body>
    {% include "header.html" %}

    <div class="text">
        <h2>Добро пожаловать на страницу дополнительных услуг нашего проекта!</h2>
        <a>Мы стремимся предоставить вам полный спектр решений для успешного внедрения системы и приобретения VR-оборудования.</a>
        <h2>Консультации по внедрению:</h2>
        <a>Наши специалисты будут работать с вами, чтобы определить ваши цели и требования и разработать план внедрения системы.</a>
        <h2>Виртуальная реальность (VR) открывает новые возможности для обучения ваших сотрудников.</h2>
        <h2>Мы предлагаем следующие услуги по приобретению VR-оборудования:</h2>
        <h2>Подбор оборудования:</h2>
        <a>Мы поможем вам выбрать VR-оборудование, которое соответствует вашим целям и бюджету.</a>
    </div>

    {% include "footer.html" %}
</body>
</html>