<!DOCTYPE html>
<html>
<head>
    <link href="font/montsserat" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <a href="#"><img src="img/logo.svg" alt="logo" class="logo"></a>
        <a href="#" class="title"><h1>Возможности</h1></a>
        <a href="#" class="title"><h1>Тарифы</h1></a>
        <a href="#" class="title"><h1>Внедрение</h1></a>
        <a href="#" class="title"><h1>Отзывы</h1></a>
        <a href="#" class="title"><h1>Поддержка</h1></a>
        <button class="button">ДопУслуги</button>
    </header>
    <div class="text">
    <h2>Добро пожаловать на страницу дополнительных услуг нашего проекта!</h2>
    <a>Мы стремимся предоставить вам полный спектр решений для успешного внедрения системы и приобретения VR-оборудования.</a>
    <h2>Консультации по внедрению:</h2>
    <a>Наши специалисты будут работать с вами, чтобы определить ваши цели и требования и разработать план внедрения системы.</a>
    <h2>Виртуальная реальность (VR) открывает новые возможности для обучения ваших сотрудников.<b /> Мы предлагаем следующие услуги по приобретению VR-оборудования:</h2>
    <h2>Подбор оборудования:</h2>
    <a>Мы поможем вам выбрать VR-оборудование, которое соответствует вашим целям и бюджету.</a>
    </div>
        <footer>
        <a href="#"><img src="logo_2.svg" alt="logo" class="logo"></a>
        <div class="footer-links">
            <a href="#" class="footer-link">Политика конфиденциальности</a>
            <a href="#" class="footer-link">Обратный звонок</a>
            <a href="#" class="footer-link">Помощь</a>
        </div>
    </footer>
</body>
</html>