<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Окно входа</title>
  	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="align">

		<div class="card">
			<div class="head">
				<div></div>
				<a id="login" class="selected" href="#">Вход</a>
				<div></div>
			</div>
			<div class="tabs">
				<form>
					<div class="inputs">
						<div class="input">
							<input placeholder="Имя" type="text">
						</div>
						<div class="input">
							<input placeholder="Пароль" type="password">
						</div>
					</div>
					<div class="hz"></div>
					<div class="hz"></div>
					<div class="hz"></div>
					<button class="btn"><span>Войти</span></button>
				</form>
			</div>
		</div>
</body>
</html>
