<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/create_tests.css') }}">
    <title>Тестирование</title>
</head>
<body>
    <header class="header">
        <a href="#"><img src="static/imgs/logo.svg" alt="logo"></a>
        <div class="login">
            <div class="user_name">{{ current_user.login }}</div>
            <img src="static/imgs/user_icon.svg" alt="user_icon" class="user_icon">
        </div>
    </header>
    <main class="main">
        <form action="" method="post">
        <div class="inputs">
        <br>
            {{ form.txt_question.label(class=input) }}
        <br>
            {{ form.txt_question(class="input", type="string") }}
        <br>
            {{ form.txt_answer.label(class=input) }}
        <br>
            {{ form.txt_answer(class="input", type="string") }}
        <br>
        </div>
        <div class="buttons">
                {{ form.submit(type="submit", class="button") }}
        </div>
        </form>
            <a href="/"><button class="button">Закончить</button></a>
    </main>
    <footer>
        <a href="#"><img src="static/imgs/img/logo_2.svg" alt="Логотип" class="logo"></a>
        <div class="footer-links">
            <a href="#" class="footer-link">Политика конфиденциальности</a>
            <a href="#" class="footer-link">Обратный звонок</a>
            <a href="#" class="footer-link">Помощь</a>
        </div>
    </footer>
</body>
</html>