    header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
        }

        .logo {
            width: 104px;
            margin-left:36px;
            margin-top:17px;
        }

        .title {
            font-family: "Montserrat", sans-serif;
            font-size: 25px;
            color: #094298;
            margin: 0 10px;
        }

        .button {
          background: #094298;
          color: #fff;
          border: 2px solid #fff;
          border-radius: 10px;
          width: 200px;
          height: 50px;
          font-size: 20px;
          font-weight: 700;
        }

        button:hover {
          background: #fff;
          color: #094298;
          transition: 0.3s;
        }

        ::-webkit-scrollbar {
        width: 0;
        }

        .kub4 {
            width: 204px;
            position: absolute;
            top: 400px;
            left: 10px;
        }

        .kub5 {
            width: 104px;
            position: absolute;
            top: 70px;
            left: 900px;
        }

        footer {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: #094298;
          color: #ffffff;
          padding: 14px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          display: flex;
        }

        .footer-logo {
          width: 50px;
          height: 50px;
          margin-right: 10px;
        }

        .footer-links {
          display: flex;
          gap: 20px;
          justify-content: center;
          align-items: center;
        }

        .footer-link {
          font-family: "Montserrat", sans-serif;
          font-size: 22px;
          color: #ffffff;
          text-decoration: none;
          transition: color 0.3s ease;
          margin: 0 150px;
        }

        .footer-link:hover {
          color: #f7f7f7;
        }

        .blocks {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 20px;
        }

        .block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: calc(center + 50px);
            background-color: #094298;
            color: #ffffff;
            height: 240px;
            width: 240px;
            margin: 20px;
            border-radius: 10px;
        }

        .block h2 {
            font-size: 22px;
            margin-bottom: 10px;
        }

        .block h3 {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .block button {
            padding: 5px 10px;
            border: 2px solid #ffffff;
            border-radius: 5px;
            background-color: transparent;
            color: #ffffff;
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            cursor: pointer;
        }