<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="font/montsserat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/reviews.css') }}">
    <title>Отзывы</title>
</head>
<body>
    {% include "header.html" %}
    <a href="/add_review"><button class="button-create">Написать отзыв</button></a>
    <div class="review-group">
        {% if reviews %}
        {% for i in reviews %}
            <h2 class="review-title">{{ db.query(user).filter(user.id == i.id_user).first().login }}</h2>
            <a class="review-text">{{ i.title }}</a>
        {% endfor %}
        {% endif %}
    </div>
    {% include "footer.html" %}

</body>
</html>