<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="font/montsserat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/reviews.css') }}">
    <title>Отзывы</title>
</head>
<body>
    {% include "header.html" %}
    <a href="/add_review"><button class="button-create">Оставить отзыв</button></a>
    {% if reviews %}
    {% for i in reviews %}
    <div class="col-md6 border rounded aaa">
        <h2 class="review-title">{{i[1].name}}</h2>
        <div>
            <a class="review-text">{{i[0]}}</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
        <footer>
        <a href="#"><img src="img/logo_2.svg" alt="Логотип" class="logo"></a>
        <div class="footer-links">
            <a href="#" class="footer-link">Политика конфиденциальности</a>
            <a href="#" class="footer-link">Обратный звонок</a>
            <a href="#" class="footer-link">Помощь</a>
        </div>
    {% include "footer.html" %}
</body>
</html>