<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="font/montsserat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/reviews.css') }}">
    <title>Отзывы</title>
</head>
<body>
    {% include "header.html" %}
    <button class="button-create">Оставить отзыв</button>
    <div class="text">
        <h2 class="review-title">Пупкин В.Е</h2>
        <a class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum feugiat dui eget consectetur. In eget egestas risus. Integer consectetur, ante sed blandit ultricies, est mi blandit sapien, ut hendrerit metus lacus non diam. Nunc libero ligula, eleifend at dictum eget, blandit ut ex. Aenean consectetur neque dolor, vel tempus nibh suscipit et.</a>
        <h2 class="review-title">Серов С.Д</h2>
        <a class="review-text">Mauris rutrum dignissim ante, sed ultricies justo ultricies non. Nullam congue in metus at ultrices. Vivamus vestibulum, odio vel tincidunt vehicula, urna erat interdum nunc, ac vulputate justo orci eu lectus.</a>
    </div>
    {% include "footer.html" %}
</body>
</html>