<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
	<link rel="stylesheet" href="./static/styles/css/signup.css">
</head>
<body>
<div class="align">

		<div class="cardr">
			<div class="head">
				<div></div>
				<a id="register" class="selected" href="#">Регистрация</a>
				<div></div>
			</div>
			<div class="tabs">
				<form>
					<div class="inputs">
						<div class="input">
							<input placeholder="Ваше имя" type="text">
						</div>
						<div class="input">
							<input placeholder="Ваша фамилия" type="text">
						</div>
						<div class="input">
							<input placeholder="Ваше отчество" type="text">
						</div>
						<div class="input">
							<input placeholder="Логин" type="text">
						</div>
						<div class="input">
							<input placeholder="Пароль" type="text">
						</div>
						<div class="input">
							<input placeholder="Повторите пароль" type="password">
						</div>
						<div class="input">
							<input placeholder="Email" type="text">
						</div>
					</div>
					<button class="btn"><span>Зарегистрироваться</span></button>
					<a href="login.html"><div class="create_account">Уже есть аккаунт?</div></a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
