<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
	<link rel="stylesheet" href="./static/styles/css/signup.css">
</head>
<body>
<div class="align">

		<div class="cardr">
			<div class="head">
				<div></div>
				<a id="register" class="selected" href="#">Регистрация</a>
				<div></div>
			</div>
			<div class="tabs">
				<form method="post">
					<div class="inputs">
						<div class="input">
							{{ form.second_name.label(class="input") }}<br>
            				{{ form.second_name(class="input", type="string") }}<br>
						</div>
						<div class="input">
							{{ form.name.label(class="input") }}<br>
            				{{ form.name(class="input", type="string") }}<br>
						</div>
						<div class="input">
							{{ form.patronymic.label(class="input") }}<br>
            				{{ form.patronymic(class="input", type="string") }}<br>
						</div>
						<div class="input">
							{{ form.login.label(class="input") }}<br>
            				{{ form.login(class="input", type="string") }}<br>
						</div>
						<div class="input">
							{{ form.password.label(class="input") }}<br>
            				{{ form.password(class="input", type="password") }}<br>
						</div>
						<div class="input">
							{{ form.password_again.label(class="input") }}<br>
            				{{ form.password_again(class="input", type="password") }}<br>
						</div>
						<div class="input">
							{{ form.mail.label(class="input") }}<br>
            				{{ form.mail(class="input", type="mail") }}<br>
						</div>
					</div>
					<div class="btn">{{ form.submit(type="submit", class="btn") }}</div>
					<a href="login"><div class="create_account">Уже есть аккаунт?</div></a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
