<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/support.css') }}">
    <title>Техподдержка</title>
</head>
<body>
    {% include "header.html" %}
    <main class="main">
        <h1 class="email">Столкнулись с проблемой? Появился вопрос?<br>Вы можете написать нам на почту:<br><a href="mailto:proftestium56@gmail.com" class="link">proftestium56@gmail.com</a></h1>
    </main>
    {% include "footer.html" %}
</body>
</html>