<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="font/montsserat" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/tarifs.css') }}">
    <title>Тарифы</title>
</head>
<body>
    {% include "header.html" %}

    <img src="static/imgs/kub1.svg" alt="куб4" class="kub4">
    <img src="static/imgs/kub5.svg" alt="куб5" class="kub5">

    <div class="blocks">
        <div class="block">
            <h2 class="tarif-title">Бесплатный</h2>
            <h3>Максимум 5 сотрудников.</h3>
            <h3>Максимум 10 тестов.</h3>
            <h3>Отсутствие VR тестирования.</h3>
            <button class="button-pay">Бесплатно</button>
        </div>
        <div class="block">
            <h2 class="tarif-title">Малый бизнес</h2>
            <h3>Максимум 20 сотрудников.</h3>
            <h3>Максимум 50 тестов.</h3>
            <h3>Отсутствие VR тестирования.</h3>
            <button class="button-pay">9 499 руб/мес</button>
        </div>
        <div class="block">
            <h2 class="tarif-title">Предприятие</h2>
            <h3>Максимум 150 сотрудников.</h3>
            <h3>Максимум 100 тестов.</h3>
            <h3>Наличие VR тестирования.</h3>
            <button class="button-pay">34 499 руб/мес</button>
        </div>
        <div class="block">
            <h2 class="tarif-title">Корпорация</h2>
            <h3>Максимум ∞ сотрудников.</h3>
            <h3>Максимум ∞ тестов.</h3>
            <h3>Наличие VR тестирования.</h3>
            <button class="button-pay">74 499 руб/мес</button>
        </div>
    </div>


    {% include "footer.html" %}
</body>
</html>