<!DOCTYPE html>
<html>
<head>
    <link href="font/montsserat" rel="stylesheet">
    <link rel="stylesheet" href="tarifs.css">
    <title>Тарифы</title>
</head>
<body>
    <header>
        <a href="#"><img src="logo.svg" alt="logo" class="logo"></a>
        <a href="#" class="title"><h1>Возможности</h1></a>
        <a href="#" class="title"><h1>Тарифы</h1></a>
        <a href="#" class="title"><h1>Внедрение</h1></a>
        <a href="#" class="title"><h1>Отзывы</h1></a>
        <a href="#" class="title"><h1>Поддержка</h1></a>
        <button class="button">Вход</button>
    </header>
    <div class="blocks">
        <div class="block">
            <h2>Бесплатный</h2>
            <h3>Максимум 5 сотрудников.</h3>
            <h3>Максимум 10 тестов.</h3>
            <h3>Отсутствие VR тестирования.</h3>
            <button class="button">Бесплатно</button>
        </div>
        <div class="block">
            <h2>Малый бизнес</h2>
            <h3>Максимум 20 сотрудников.</h3>
            <h3>Максимум 50 тестов.</h3>
            <h3>Отсутствие VR тестирования.</h3>
            <button class="button">9 499 руб/мес</button>
        </div>
        <div class="block">
            <h2>Предприятие</h2>
            <h3>Максимум 150 сотрудников.</h3>
            <h3>Максимум 100 тестов.</h3>
            <h3>Наличие VR тестирования.</h3>
            <button class="button">34 499 руб/мес</button>
        </div>
        <div class="block">
            <h2>Корпорация</h2>
            <h3>Максимум ∞ сотрудников.</h3>
            <h3>Максимум ∞ тестов.</h3>
            <h3>Наличие VR тестирования.</h3>
            <button class="button">75 499 руб/мес</button>
        </div>
    </div>
    <img src="kub4.svg" alt="куб4" class="kub4">
    <img src="kub5.svg" alt="куб5" class="kub5">

    <footer>
        <a href="#"><img src="logo_2.svg" alt="logo" class="logo"></a>
        <div class="footer-links">
            <a href="#" class="footer-link">Политика конфиденциальности</a>
            <a href="#" class="footer-link">Обратный звонок</a>
            <a href="#" class="footer-link">Помощь</a>
        </div>
    </footer>
</body>
</html>