<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static',filename='styles/font/montserrat') }}" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/training.css') }}">
    <title>Моё обучение</title>
</head>
<body>
    {% include "header2.html" %}
    <div class="teaching">
        <b>
            <h2>Блоки доступные для обучения</h2>
            {% for i in tests %}
            <br>
                <a href="/portal/{{ portal }}/{{ i.id }}/1" class="test">{{ i.titles }}</a>
            {% endfor %}
        </b>
    </div>
    <img src="/./././static/imgs/kub4.svg" alt="куб4" class="kub4">
    <img src="/././static/imgs/kub5.svg" alt="куб5" class="kub5">

    <footer>
        <a href="#"><img src="/./././static/imgs/logo_2.svg" alt="logo" class="logo"></a>
        <div class="footer-links">
            <a href="#" class="footer-link">Политика конфиденциальности</a>
            <a href="#" class="footer-link">Обратный звонок</a>
            <a href="#" class="footer-link">Помощь</a>
        </div>
    </footer>
</body>
</html>