<!DOCTYPE html>
<html>
<head>
    <link href="font/montsserat" rel="stylesheet">
    <link rel="stylesheet" href="templates/training.css">
    <title>Моё обучение</title>
</head>
<body>
    <header>
        <a href="#"><img src="img/logo.svg" alt="logo" class="logo"></a>
        <a href="#" class="title"><h1>Возможности</h1></a>
        <a href="#" class="title"><h1>Тарифы</h1></a>
        <a href="#" class="title"><h1>Внедрение</h1></a>
        <a href="#" class="title"><h1>Отзывы</h1></a>
        <a href="#" class="title"><h1>Поддержка</h1></a>
        <button class="button">Вход</button>
    </header>
    <div class="teaching">
        <b>
            <h2>Блоки доступные для обучения</h2>
            <a class="text">- Промышленная безопасность 
                <br>- Охрана труда 
                <br>- Пожарная безопасность 
                <br>- Первая помощь на производстве 
                <br>- Подготовка деталей под сварку 
                <br>- Сварочные работы
            </a>
        </b>
    </div>
    <img src="img/kub4.svg" alt="куб4" class="kub4">
    <img src="img/kub5.svg" alt="куб5" class="kub5">

    <footer>
        <a href="#"><img src="img/logo_2.svg" alt="logo" class="logo"></a>
        <div class="footer-links">
            <a href="#" class="footer-link">Политика конфиденциальности</a>
            <a href="#" class="footer-link">Обратный звонок</a>
            <a href="#" class="footer-link">Помощь</a>
        </div>
    </footer>
</body>
</html>