<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Регистрация портала</title>
  	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/new_portal_login.css') }}">
</head>
<body>
	<div class="align">
		<div class="card">
			<div class="head">
				<a id="login" class="selected" href="#">Регистрация портала</a>
			</div>
			<div class="tabs">
				<form action="" method="post">
					<div class="inputs">
						<div class="input">
							{{ form.tag.label(class="input") }}<br>
            				{{ form.tag(class="input", type="string") }}<br>
						</div>
						<div class="input">
							{{ form.title.label(class="input") }}<br>
            				{{ form.title(class="input", type="string") }}<br>
						</div>
						<div class="input">
							{{ form.inn.label(class="input") }}<br>
            				{{ form.inn(class="input", type="string") }}<br>
						</div>
						<div class="input">
							{{ form.about.label(class="input") }}<br>
            				{{ form.about(class="input", type="string") }}<br>
						</div>
					</div>
					<div class="hz"></div>
					<div class="hz"></div>
					<div class="input">
							{{ message }}
					</div>

					<!-- <button class="btn">{{ form.submit(type="submit", class="btn btn-primary") }}</button> -->
					<p class="">{{ form.submit(type="submit", class="btn") }}</p>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
