<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="font/montsserat" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/FAQ.css') }}">
    <title>Политика конфиденциальности</title>
</head>
<body>
    {% include "header.html" %}
    <div class="teaching">
        <h1 class="question">Часто задаваемые вопросы о платформе для обучения и тестирования сотрудников рабочих профессий с использованием стандартных и VR-инструментов:</h1>
        <h1 class="h2main">1. Какова цель использования данной платформы?</h1> <br>
        <h1 class="answer">- Целью использования платформы является обучение и тестирование сотрудников рабочих профессий с помощью стандартных и VR-инструментов, позволяющих создать реалистичные ситуации для обучения и оценки навыков.</h1> <br>
        <h1 class="h2main">2. Какие возможности предоставляет платформа?</h1> <br>
        <h1 class="answer">- Платформа позволяет предприятию создать свой собственный портал или школу, загрузить отделы и сотрудников, а также обучающие материалы. Она также предоставляет возможность запуска тестирования на всех или определенных группах сотрудников. Интеграция с BMP-файлами позволяет отображать результаты и записи прохождения VR-тестов на платформе.</h1> <br>
        <h1 class="h2main">3. Каким образом платформа использует VR-инструменты?</h1> <br>
        <h1 class="answer">- Платформа использует VR-инструменты для создания реалистичных ситуаций обучения и тестирования. С помощью VR-очков сотрудники могут погрузиться в виртуальное пространство и выполнять задачи, имитирующие реальные рабочие ситуации.</h1> <br>
        <h1 class="h2main">4. Каковы преимущества использования VR-инструментов в обучении и тестировании?</h1> <br>
        <h1 class="answer"> - Использование VR-инструментов позволяет создавать более реалистичные ситуации обучения и тестирования, что способствует более эффективному усвоению материала и развитию необходимых навыков. VR также позволяет симулировать опасные или сложные ситуации без риска для сотрудников.</h1> <br>
        <h1 class="h2main">5. Как происходит интеграция с BMP-файлами?</h1> <br>
        <h1 class="answer">- Платформа предусматривает интеграцию с BMP-файлами, чтобы результаты и записи прохождения VR-тестов с помощью очков отображались на платформе. Это позволяет анализировать и оценивать производительность и прогресс сотрудников.</h1> <br>
        <h1 class="h2main">6. Какая поддержка предоставляется пользователям платформы?</h1> <br>
        <h1 class="answer">- Платформа предоставляет техническую поддержку пользователям, которая включает в себя помощь с настройкой и использованием платформы, а также решение возникающих проблем или вопросов.</h1> <br>
    </div>
    {% include "footer.html" %}
</body>
</html>